header{
    margin-top:50px;
}
body {
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    font-kerning:normal;
    font-stretch:ultra-condensed;
    font-weight:bolder;
}
h2 {
    color: #7ea17a;
}
article {
    width: 1024px;
    margin: auto;
    border: 1px outset #808080;
    background: #d1c4c4;
}
a{
    text-decoration:none;
}
ul {
    list-style:none;
}
input[type="text"]{
    font-size:large;
}
.category_buttons{
    font-size:large;
    
}
#add_to_cart{
    width:25px;
    height:25px;
}
