header{
    margin-top:100px;
}
body{
    font-size:x-large;
}
article {
    width:1024px;
    margin:auto;
    border:ridge;
}
ul {
    list-style:none;
}
.category_buttons{
    font-size:large;
    
}
